<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Flask Authentication</title>
    {{ bootstrap.load_css() }}
    {{ bootstrap.load_js() }}
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css')}}"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/" style="margin-left:20px;">Flask Authentication</a>
      <div class="collapse navbar-collapse justify-content-end" style="margin-right:20px;">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('home') }}">Home</a>
          </li>
          <!-- TODO: Hide the Login/Registration navigation for logged-in users -->
          {% if not current_user.is_authenticated: %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('login') }}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('register') }}">Register</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logout') }}">Log Out</a>
          </li>
        </ul>
      </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="flash-container">
          {% for category, message in messages %}
            {% if category not in ['primary', 'secondary', 'warning', 'success', 'danger', 'info', 'light', 'dark'] %}
              <div class="alert alert-primary alert-dismissible fade show" role="alert">{{ message }}</div>
            {% else %}
              <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">{{ message }}</div>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
    {% block content %} {% endblock %}
    <script>
        // Function to remove flash messages after 5 seconds
        function removeFlashMessages() {
            setTimeout(function() {
                var flashContainer = document.getElementById('flash-container');
                if (flashContainer) {
                    var alerts = flashContainer.getElementsByClassName('alert');
                    for (var i = 0; i < alerts.length; i++) {
                        alerts[i].style.transition = 'opacity 0.5s';
                        alerts[i].style.opacity = '0';
                    }
                    setTimeout(function() {
                        flashContainer.remove();
                    }, 500); // Wait for the transition to complete
                }
            }, 5000); // 5 seconds
        }

        // Call the function to remove flash messages
        window.onload = removeFlashMessages;
    </script>
  </body>
</html>
